@use "./app/utilities/sass/variables.scss" as var;

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: var.$bg-principal;
  font-family: var.$fuente-principal;
}

html,
body {
  height: 100%;
}
